.franchise-index-container {
  display: flex;
}

.franchise-list {
  width: 37vw;
}

@media screen and (max-width: 770px) {
  .franchise-index-container {
    display: block;
  }
  .franchise-list {
    width: 80vw;
  }
  .container.current {
    padding-bottom: 2rem;
  }
  .container.defunct {
    border-top: 1px solid black;
    padding-top: 1rem;
  }
}
