.navbar-container {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 4.1rem;
  padding: 0;
  background-color: #3a8340;
  align-items: flex-start;
}

/* Nav Button */
.nav-btn {
  top: 0;
  height: 3.8rem;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 0;
  width: 14.3vw;
  color: black;
  background-color: #fdfdfd;
  border: none;
  outline: none;
}
.nav-btn:hover {
  background-color: #3a8340;
  border-color: #3a8340;
  color: white;
  cursor: pointer;
}

.nav-btn:focus {
  background-color: #3a8340;
  border-color: #3a8340;
  color: white;
  box-shadow: none;
}

.nav-btn:active {
  background-color: #3a8340;
  border-color: #3a8340;
  color: white;
  box-shadow: none;
}

#menu-toggle,
.hamburger,
.nav-links,
.home-brand {
  display: none;
}

@media screen and (max-width: 750px) {
  .navbar {
    display: none;
  }

  nav {
    position: fixed;
    flex: 1;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: #fdfdfd;
    width: 100%;
    border-bottom: solid 0.3rem;
    border-bottom-color: #3a8340;
    z-index: 1;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
    transform: rotate(90deg);
    font-size: 3.1rem;
    margin-right: 5vw;
    margin-bottom: 0;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  #menu-toggle:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #fdfdfd;
  }

  #menu-toggle:checked ~ .nav-links button {
    width: 100vw;
  }

  .nav-btn-drop {
    display: block;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 0;
    color: black;
    background-color: #fdfdfd;
    border: none;
  }

  .nav-btn-drop:hover {
    background-color: #3a8340;
    border-color: #3a8340;
    color: white;
    cursor: pointer;
  }

  .nav-links a {
    cursor: pointer;
    text-decoration: none !important;
  }

  .nav-btn-drop:focus {
    background-color: #3a8340;
    border-color: #3a8340;
    color: white;
    box-shadow: none;
  }

  .nav-btn-drop:active {
    background-color: #3a8340;
    border-color: #3a8340;
    color: white;
    box-shadow: none;
  }

  .home-brand {
    display: block;
    font-size: 2.5rem;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    border-radius: 0px;
    width: 82%;
    background-color: #3a8340;
    color: white;
    border: none;
    box-shadow: none;
    text-align: center;
  }

  .home-brand:hover {
    background-color: #3a8340;
    border-color: #3a8340;
    color: white;
  }

  .home-brand:focus {
    background-color: #3a8340;
    border-color: #3a8340;
    color: white;
    box-shadow: none;
  }

  .home-brand:active {
    background-color: #3a8340;
    border-color: #3a8340;
    color: white;
    box-shadow: none;
  }
}

@media screen and (max-width: 480px) {
  .hamburger {
    margin-right: 2.25vw;
  }
}
