html,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Font Sizes */
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
a {
  font-weight: 300;
}

/* Styles for Loading component and its parent element */

.loading-parent {
  position: relative;
  height: 90vh;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
