body {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding-top: 2rem;
  margin: 0 auto;
}

/* Font Sizes */
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}

/* Styles for Loading component and its parent element */

.loading-parent {
  position: relative;
}
.loading {
  position: absolute;
  top: 50%;
  height: 150px;
  margin-top: -50px;
}
